---
import { Image } from "astro:assets";
import g2Win from "/src/images/g2win.jpg";
import vitalityVictory from "/src/images/vitalityVictory.jpg";
import aleksib from "/src/images/aleksib.jpg";
import faze from "/src/images/faze.jpg";
import trophy from "/src/images/trophy.jpg";
import "/src/styles/carousel.css";

// Create an array of image objects for easier handling
const images = [
  { src: g2Win, alt: "g2 win" },
  { src: vitalityVictory, alt: "vitality win" },
  { src: aleksib, alt: "aleksib" },
  { src: faze, alt: "faze" },
  { src: trophy, alt: "trophy" },
];
---

<section class="carousel">
  <div class="carousel-track-container">
    <ul class="carousel-track">
      {
        images.map((image, index) => (
          <li class="carousel-slide" data-index={index}>
            <Image src={image.src} alt={image.alt} />
          </li>
        ))
      }
    </ul>
  </div>
</section>
<div class="popup-overlay">
  <div class="popup-content">
    <button class="close-popup">&times;</button>
    {
      images.map((image, index) => (
        <div class="popup-image" data-index={index}>
          <Image src={image.src} alt={image.alt} />
        </div>
      ))
    }
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const slides = document.querySelectorAll(".carousel-slide");
    const popup = document.querySelector(".popup-overlay");
    const popupImages = document.querySelectorAll(".popup-image");
    const closeButton = popup?.querySelector(".close-popup");

    // Show popup when clicking a slide
    slides.forEach((slide) => {
      slide.addEventListener("click", () => {
        const index = slide.getAttribute("data-index");
        showPopupImage(index ? parseInt(index) : 0);
        popup?.classList.add("active");
        document.body.style.overflow = "hidden";
      });
    });

    function showPopupImage(index: number) {
      const popupDivs =
        document.querySelectorAll<HTMLDivElement>(".popup-image");
      popupDivs.forEach((div) => (div.style.display = "none"));
      popupDivs[index].style.display = "block";
    }

    closeButton?.addEventListener("click", closePopup);
    popup?.addEventListener("click", (e) => {
      if (e.target === popup) closePopup();
    });
    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape" && popup?.classList.contains("active"))
        closePopup();
    });

    function closePopup() {
      popup?.classList.remove("active");
      document.body.style.overflow = "";
    }
  });
</script>
