---
import { Image } from 'astro:assets'
import g2Win from '../images/g2win.jpg'
import vitalityWin from '../images/vitalitywin.jpg'
import aleksib from '../images/aleksib.jpg'
import faze from '../images/faze.jpg'
import trophy from '../images/trophy.jpg'
import '../styles/carousel.css'
---
<section class="carousel">
    <div class="carousel-track-container">
      <ul class="carousel-track">
        <li class="carousel-slide"><Image src={g2Win} alt="g2 win" /></li>
        <li class="carousel-slide"><Image src={vitalityWin} alt="vitality win" /></li>
        <li class="carousel-slide"><Image src={aleksib} alt="aleksib" /></li>
        <li class="carousel-slide"><Image src={faze} alt="faze" /></li>
        <li class="carousel-slide"><Image src={trophy} alt="trophy" /></li>
      </ul>
    </div>
</section>


